
body {
    padding-top: 50px;
}

#name {
    text-align: center;
    font-weight: bold;
}

#score {
    text-align: center;
}

#darts-left div {
    text-align: center;
}

.connlost {
    background-color: #900;
    color: white;
    text-align: center;
}

.hold {
    background-color: #900;
    color: white;
    text-align: center;
}
.play {
    background-color: #090;
    color: white;
    text-align: center;
}

.darttext {
    font-weight: bold;
}

.table {
    font-size: large;
}