
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eDarts</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
  </head>

  <body ng-app="darts"  ng-controller="DartCtrl" ng-keypress="onKeypress($event)">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">infsec eDarts</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"><!--
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li> -->
            <li><a href="http://infsec.uni-trier.de/dartenbank">Dartenbank</a></li>
            <li><a href="http://infsec.uni-trier.de/dartenbank/input/">input results</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      
      <div class="row fit-height-body-18 connlost" ng-if="state.state == 'connlost'">
	Connection lost. Please check server!
      </div>

      <div class="row" ng-if="state.state != 'gameover' && state.state != 'null'">
        <div class="col-md-4 col-xs-6 fit-height-body-4 fit-width-body-6" id="name">{{state.currentPlayer}}</div>
        <div class="col-md-4 col-xs-6 fit-height-body-4 fit-width-body-6" id="score">{{state.currentScore}}</div>
        <div class="col-xs-12 col-md-4">
	  <div class="row" id="darts-left">
	    <div class="col-xs-4 col-md-12 fit-height-body-12" ng-repeat="dart in state.currentDarts track by $index">
	      <span class="dart" ng-class="formatDartClass(dart)">{{formatDart(dart)}}</span>
	    </div>
	  </div>
	</div>
      </div>      
      <div class="row col-md-12 fit-height-body-18 hold" ng-if="state.state=='hold'">
	<i class="fa fa-stop"></i> HOLD
      </div>
      <div class="row col-md-12 fit-height-body-18 play" ng-if="state.state=='playing'">
	<i class="fa fa-play"></i> PLAY
      </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="navtabs">
	<li><a href="#order" data-toggle="tab">Order</a></li>
	<li><a href="#stats" data-toggle="tab">Dartenbank Score</a></li>
	<li><a href="#newgame" data-toggle="tab">New Game</a></li>
	<li><a href="#settings" data-toggle="tab">Settings</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
	<div class="tab-pane active" id="order">
	  <h1 ng-if="state.state == 'gameover'">
	    Final standings:
	  </h1>
	  <table class="table table-striped table-hover table-condensed">
	    <thead>
	      <tr>
		<th></th>
		<th><a href="" ng-click="predicate='rank'">Rank</th>
		<th><a href="" ng-click="predicate='started'">Name</a></th>
		<th>Last Frame</th>
		<th>Score</th>
		<th>#Frames</th>
		<th>Skip?</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="p in state.ranking | orderBy:predicate" ng-class="{success: p.score == 0, danger: p.name == state.currentPlayer}">
		<td>
		  <i class="fa fa-check-square" ng-if="p.score == 0"></i>
		  <i class="fa fa-arrow-right" ng-if="p.name == state.currentPlayer"></i>
		</td>
		<td>{{p.rank + 1}}</td>
		<td class="large-entry">{{p.name}}</td>
		<td ng-if="p.frames > 0">
		  <span ng-repeat="dart in p.last_frame.darts track by $index" class="dart" ng-if="! p.editingLastDarts">
		    <span class="dart" ng-class="formatDartClass(dart)">{{formatDart(dart)}}</span> 
		  </span>
		  <span ng-if="p.last_frame.text"> = </span>
		  <span class="darttext">{{p.last_frame.text}}</span> 
		  <a href="" ng-click="startEditingDarts(p)"><i class="fa fa-edit" ng-if="! p.editingLastDarts"></i></a>
		  <span ng-if="p.editingLastDarts">
		    <input type="text" class="form-control" style="width:50%;" ng-model="p.lastDartsEdited">
		    <a href="" ng-click="saveDarts(p)"><i class="fa fa-check"></i></a>
		    <a href="" ng-click="abortEditingDarts(p)"><i class="fa fa-times"></i></a>
		  </span>
		</td>
		<td ng-if="p.frames == 0">
		  -
		</td>
		<td class="large-entry">{{p.score}}</td>
		<td>{{p.frames}}</td>
		<td><input ng-if="p.score > 0" type="checkbox" ng-model="p.skipped" ng-click="skipPlayer($index)"></td>
	      </tr>
	    </tbody>
	  </table>
	  <a href="" ng-click="submitResult()" ng-if="state.state == 'gameover'">Submit Results</a>
	</div>
	<div class="tab-pane" id="stats">
	  <div google-chart chart="chart" style="height: 500px; width: 100%;" on-ready="chartReady()" id="mychart">
	  </div>
	  <a href="" ng-click="updateChartFull()">Update rankings</a>
	</div>
	<div class="tab-pane" id="newgame">
	  <div class="row">
	    <div class="col-md-7">
	      <h2>Select Players</h2>
	    </div>
	    <div class="col-md-3">
	      <input type="text" class="form-control" ng-model="newPlayerName"
		     placeholder="Enter player shortcut, e.g., XYZ" style="margin-top: 1em">
	    </div>
	    <div class="col-md-2">
	      <input class="btn btn-default" type="submit" value="add" style="margin-top: 1em;" ng-click="addPlayer()" maxlength="3">
	    </div>
	  </div>
	  <div ng-model="availablePlayers">
	    <div class="btn btn-{{p.selected ? 'info' : 'default'}}" style="font-weight: {{(p.games > 70) ? 'bold' : 'normal'}}" ng-repeat="p in availablePlayers | orderBy: p.games" ng-model="availablePlayers" ng-click="p.selected = (! p.selected)">
	      {{p.name}}
	    </div>
	  </div>
	  
	  <div class="row form-group"  style="margin-top: 1.75em;">
	    <div class="col-md-2 col-md-offset-4">
	      Initial points:
	    </div>
	    <div class="col-md-2">
	      <input class="form-control" type="number" value="301" min="1" max="1001" id="initialValue" ng-model="initialValue">
	    </div>
	    <div class="col-md-4" style="valign: bottom">
	      <input class="btn btn-primary" type="submit" value="start new game" ng-click="newGame(true)">
	      <input class="btn btn-default" type="submit" value="start test game" ng-click="newGame(false)">
	      <input class="btn btn-default" type="submit" value="cancel game" ng-click="cancelGame()" ng-hide="state.state != 'playing'">
	    </div>
	  </div>
	</div>
	<div class="tab-pane" id="settings">
	  <form class="form-horizontal" role="form" style="margin-top: 1em">
	    <div class="form-group">
	      <label for="setInputDevice" class="col-sm-2 control-label">Input Device</label>
	      <div class="col-sm-10">
		<input type="text" class="form-control" id="setInputDevice" ng-model="settings.inputDevice">
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="setSound" class="col-sm-2 control-label">Sound Output</label>
	      <div class="col-sm-10">
		<select class="form-control" id="setSound" ng-model="settings.sound">
		  <option value="none">- none -</option>
		  <option value="isat">InfSec Sounds</option>
		  <option value="espeak">ESpeak</option>
		  <option value="legacy">Legacy</option>
		</select>
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-default" ng-click="applySettings()">Apply</button>
	      </div>
	    </div>
	  </form>
	</div>
      
      </div>


    </div><!-- /.container -->

    <img src="img/ajax-loader.gif" border="0" id="ajax-loader" ng-if="chartUpdating" />
    
    <div id="debugbox" ng-hide="!debugging">
      <h4>Debugging</h4>
      <div class="form-group">
	<input class="form-control" type="text" value="S60" id="debugDartValue" maxlength="3" style="width: 4em; display: inline;" ng-model="debugDartValue">
	<input class="btn btn-primary" type="submit" value="Throw dart" ng-click="debugThrowDart()" style="display: inline;">
      </div>
      <div class="form-group">
	<input class="btn btn-default" type="submit" value="Next player" ng-click="debugNextPlayer()"><br>
      </div>
      <div class="form-group">
	<input class="btn btn-default" type="submit" value="Self-Update" ng-click="debugPerformSelfUpdate()"><br>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/reconnectingWebsocket.js"></script>
    <script src="js/ng-google-chart.js"></script>
<!--    <script src="js/angular-dragdrop.js"></script> -->
    <script src="index.js"></script>
  </body>
</html>
