
body {
    padding-top: 50px;
}

#name {
    text-align: center;
    font-weight: bold;
}

#score {
    text-align: center;
}

#darts-left div {
    text-align: center;
}

#navtabs {
    padding-top: 1em;
}

.connlost {
    background-color: #900;
    color: white;
    text-align: center;
}

.hold {
    background-color: #900;
    color: white;
    text-align: center;
}
.play {
    background-color: #090;
    color: white;
    text-align: center;
}

.darttext {
    font-weight: bold;
}

.table {
    font-size: large;
}

.dropto, .dropfrom { 
    height: 15em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.btn-dragdrop {
    cursor: -webkit-grab;
    margin: 3px;
}

.large-entry {
    font-size: xx-large;
}
/*
.dart.double {
    border-bottom: 1px solid black;
}

.dart.triple {
    border-bottom: 3px double black;
}*/

.dart.double:before {
    content:":";
}

.dart.triple:before {
    content:"⋮";
    margin-right: -0.7ex;
}

.dart.triple {
    margin-left: -0.7ex;
}

.dart.single:before {
    content:"·";
}

#ajax-loader {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -21px;
    
}